@model List<VkPostItem>



<div id="wrapper">
    @await Html.PartialAsync("NavMenuSummary") 
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
      <!-- Main Content -->
      <div id="content">
        @await Component.InvokeAsync("NavigationTopMenu")

        <div class="container-fluid">
          
            @await Html.PartialAsync("CardsPostSummary")

            <div class="card-body">
                <form asp-action="PostTelegram" asp-controller="Post" method="post">
                    <button type="submit" class="btn btn-success">
                    Post to telegram
                    </button>
                    @for(int i = 0; i < @Model.Count; i++)
                    {
                        
                        <div class="card">
                        <div class="card-header">
                            @Model[i].PostType - Тип поста
                        </div>
                            <div class="card-body">
                                <h5 class="card-title">@Model[i].Url</h5>
                                <p class="card-text">@Model[i].Text</p>
                                <p class="card-text">@Model[i].Date - Дата</p>
                                <p class="card-text">@Model[i].Comment - Комментарии</p>
                                <p class="card-text">@Model[i].Like - Лайки</p>
                                <p class="card-text">@Model[i].Reposts - Рапосты</p>
                                <p class="card-text">@Model[i].Views - Просмотры</p>
                            </div>
                            <input type="hidden" asp-for="@Model[i].Text" />
                            <input type="hidden" asp-for="@Model[i].Url" />
                            <input type="hidden" asp-for="@Model[i].PostType" />
                            <input type="hidden" asp-for="@Model[i].Date" />
                            <input type="hidden" asp-for="@Model[i].TypeAttachment" />
                            <input type="hidden" asp-for="@Model[i].Comment" />
                            <input type="hidden" asp-for="@Model[i].Like" />
                            <input type="hidden" asp-for="@Model[i].Reposts" />
                            <input type="hidden" asp-for="@Model[i].Views" />

                        </div>
                    }
                    <button type="submit" class="btn btn-success">
                    Post to telegram
                    </button>
                </form>
            </div>

        </div>

      </div>
    </div>
</div>
