@model User

<h2>Информация</h2>

<div>
    <p>@Model.Name - Name</p>
    <p>@Model.Email - Email</p>
    <p>@Model.Password - Password</p>
    <p>@Model.UserId - UserId</p>

    <br>

    <p>User Settings: </p>

    @if(Model.UserSetting != null)
    {
        <p>@Model.UserSetting.TelegramToken - TToken</p>
        <p>@Model.UserSetting.VkToken - VToken</p>
        <p>@Model.UserSetting.TelegramGroup - TGroup</p>
        <p>@Model.UserSetting.UserId - UId</p>
        <p>@Model.UserSetting.UserSettingId - USId</p>
        <p>@Model.UserSetting.VkApiVersion - VkApiVersion</p>
    }else{
        <p>Empty</p>
    }
    <a asp-action="EditSetting" asp-controller="Account" >Изменить пользовательские настройки</a>

    <br>

    <p>Post Settings</p>

    @if(Model.PostSettings.Count > 0)
    {
        @foreach (var item in Model.PostSettings)
        {
            <p>@item.GroupUrl - VkGroup Url </p>
            <p>@item.PostCount - Count of post </p>
            <p>@item.PostFilter - Filter </p>
            <p>@item.PostSettingId - SettingId </p>
            <p>@item.UserId - UserId </p>
        }
    }else{
        <p>List Empty</p>
    }

    <a asp-action="AddPostSetting" asp-controller="Post" >Добавить настройку постинга</a>

</div>